@tailwind base;
@tailwind components;
@tailwind utilities;

* {
}
video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  top: 0;
  left: 0;
}

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 60vh;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #030014;
}
/* @font-face {
  font-family: 'semiboldeot';
   src: url("./fonts/font/SF-Pro-Display-Black.ttf");
}
.heading-f{
  font-family: "SF-Pro-Display";
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.bgr-light {
  background: hsla(0, 0%, 100%, 0.21);
  border-radius: 100%;
  bottom: 36%;
  -webkit-filter: blur(300px);
  filter: blur(300px);
  height: 500px;
  left: 27%;
  right: 50%;
  width: 560px;
  z-index: 50;
}
/* hr{
  z-index: 30;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 44.47%,
    rgba(255, 255, 255, 0.1) 63.92%,
    rgba(255, 255, 255, 0) 106.72%
  );
} */
.custom-hr {
  position: relative;

  border: none;
  height: 1px;

  overflow: visible;
}

.custom-hr:before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(
    271deg,
    hsla(0, 0%, 100%, 0) 0,
    hsla(0, 0%, 100%, 0.1) 62.47%,
    hsla(0, 0%, 100%, 0.1) 56.92%,
    hsla(0, 0%, 100%, 0) 81.72%
  );
}
.grad-Inner {
  width: 1029px;
  height: 650px;
  left: -6px;
  top: 0px;
  position: absolute;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 23.08%, #030114 86.63%);
  border-radius: 12px;
}
.color-gradient {
  background: linear-gradient(179.91deg, #e7e7e7 35.32%, #a9a5a5 75.92%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.button {
  background: rgba(50, 91, 146, 0.18);
}
.bg-main {
  background: rgba(1, 0, 20, 0.4);
  backdrop-filter: blur(10px);
}
.colo-gradient {
  border-bottom: 1px solid;
  border-image: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.1) 44.47%,
    rgba(255, 255, 255, 0.1) 63.92%,
    rgba(255, 255, 255, 0) 106.72%
  );
  border-image-slice: 1;
}

.bg {
  -webkit-backdrop-filter: blur(27.1828px);
  backdrop-filter: blur(54.1828px);
  background: linear-gradient(
    180.57deg,
    rgba(0, 0, 0, 0.05) 0.24%,
    rgba(3, 1, 20, 0.21) 1006
  );
  border-radius: 12px;
}

.border-around-img {
  box-shadow: 0px 0 12px #dedede29 inset;
}
